.dots {
  cursor: pointer;
}

body {
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 100px;
  height: 60px;
  padding: 2px;
  font: 8px;
  background: pink;
  border-radius: 10px;
  pointer-events: none;
}
